@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar { 
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

.content{
    height: 45vh;
    background-image: url('/conversation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: steps(1);
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0%, 100%{
        background-image: url('/conversation.png');
    }
    50%{
        background-image: url('/vichat.png');
    }
}

@media screen and (max-width: 568px) {
    .content {
        height: 35vh;
    }
}

@media screen and (max-width: 490px) {
    .content {
        height: 30vh;
    }
}

@media screen and (max-width: 445px) {
    .content {
        height: 25vh;
    }
}